{% extends 'base.html' %}
{% block page-header %}
news world
{% endblock %}
{% block page-blog-title %}
News Daily
{% endblock %}
{% block page-blog-descript %}
news copy from tengxun for homework<br/>
{% endblock %}

{% block page-blog-content %}
<form action="{% url 'index'%}" method="post">
{% csrf_token %}
    <label>监控网址：</label><input type="text" name="video_url"/>
<input type="submit" value="寻找"/>
</form>
<p>{{message}}</p>
<br/>
<br/>

{% for video in video_list %}
<iframe name="{{ forloop.counter }}" marginwidth=5 marginheight=5 width=500 height=500 src="video/{{ forloop.counter }}" frameborder=0></iframe>

<p><a href="{% url 'show' forloop.counter %}">查看监控详情</a></p>
{% endfor %}
<br/>
<br/>
{% endblock %}

{% block page-blog-login %}
<a class="blog-nav-item active" href="{% url 'index'%}">Home</a>
<a class="blog-nav-item active" href="{% url 'change'%}">修改密码</a>
<a class="blog-nav-item active" href="{% url 'logout'%}">logout</a>
{% endblock %}