{% extends 'base.html' %}

{% block page-header %}
video
{% endblock %}
{% block page-blog-title %}
video
{% endblock %}
{% block page-blog-descript %}
for superuser
{% endblock %}
{% block page-blog-content %}


<iframe name="footer" marginwidth=0 marginheight=0 width=900 height=700  src="video/{{video_id}}" frameborder=0></iframe>
<form action="{% url 'show' video_id %}" method="post">
{% csrf_token %}
    <label>left：</label><input type="text" name="left"/><label>right:</label><input type="text" name="right"/><br/>
    <label>top：</label><input type="text" name="top"/><label>bottom:</label><input type="text" name="bottom"/><br/>
<p>left小于right，top小于bottom，现在为（{{ left }}，{{ right }}，{{top }}，{{ bottom }}）</p>
<input type="submit" value="提交"/>
</form>


<iframe name="alarm" marginwidth=0 marginheight=0 width=900 height=700  src="alarm/" frameborder=0></iframe>

<br/>
<br/>
{% endblock %}

{% block page-blog-login %}
<a class="blog-nav-item active" href="{% url 'index'%}">Home</a>
<a class="blog-nav-item active" href="{% url 'change'%}">修改密码</a>
<a class="blog-nav-item active" href="{% url 'logout'%}">logout</a>
{% endblock %}